In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statistics import stdev
import os

In [4]:


# Folder path
folder_path = os.path.join(os.getcwd(), "Csv_files")

# List CSV files in the folder
csv_files = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith(".csv") and file.startswith("16")]

# Lists to store averages
TC_Group_1_AVG = []
TC_Group_2_AVG = []
TC_Group_3_AVG = []
Time_Group = []

# Iterate over CSV files
for file in csv_files:
    df = pd.read_csv(file)

    # TC1-4
    TC_1_4 = ["TC1", "TC2", "TC3", "TC4"]
    TC_1_4_AVG = df[TC_1_4].mean().mean().round(3)
    TC_Group_1_AVG.append(TC_1_4_AVG)

    # TC5-8
    TC_5_8 = ["TC5", "TC6", "TC7", "TC8"]
    TC_5_8_AVG = df[TC_5_8].mean().mean().round(3)
    TC_Group_2_AVG.append(TC_5_8_AVG)

    # TC10-13
    TC_10_13 = ["TC10", "TC11", "TC12", "TC13"]
    TC_10_13_AVG = df[TC_10_13].mean().mean().round(3)
    TC_Group_3_AVG.append(TC_10_13_AVG)

    # Time
    df['time_seconds'] = pd.to_datetime(df['Time']).dt.hour * 3600 + pd.to_datetime(df['Time']).dt.minute * 60
    AVG_Time = df['time_seconds'].mean()
    AVG_Time_Hour = AVG_Time * (1 / 3600)
    Time_Group.append(round(AVG_Time_Hour, 2))

# Time from 0
First = Time_Group[0]
Time_From_0 = [round(x - First, 2) for x in Time_Group]

# Create DataFrame
data = {
    "Time": Time_From_0,
    "G1TAverage": TC_Group_1_AVG,
    "G2TAverage": TC_Group_2_AVG,
    "G3TAverage": TC_Group_3_AVG
}
T_avg_chart = pd.DataFrame(data)
T_avg_chart

    Time  G1TAverage  G2TAverage  G3TAverage
0   0.00      22.641      22.543      12.315
1   0.27      78.468      47.610      11.215
2   1.04      81.510      72.247      19.423
3   1.20      86.021      72.460      19.515
4   1.37      85.342      74.116      19.820
5   1.62      86.142      74.951      20.093
6   1.83      86.598      75.440      19.965
7   2.16      86.871      75.810      18.201
8   2.41      86.902      75.813      18.164
9   2.72      86.957      75.745      18.429
10  2.90      86.961      75.716      18.559
11  3.10      86.949      75.715      18.465
12  3.25      86.875      75.668      18.029